---
sidebar_position: 2
---

# Step 2: Get Verified

Once you’ve completed your Sevi registration and set your business location, your account will move into **Waiting on Verification** status.  

During this stage, Sevi’s verification team will visit your shop to confirm your details and complete verification.  

<img src="/buyer/008.png" alt="Unverified Buyer Dashboard" width="450"/>  


## What Happens During Verification
Our field team will assist you to:  

- ✅ Upload your **National ID** (front and back).  
- ✅ Take a **Selfie (Face ID capture)** for identity confirmation.  
- ✅ Upload your **M-Pesa Statement** (strictly full last 6 months).  

<img src="/buyer/009.png" alt="Buyer Verification Screen" width="450"/>  
<!-- <img src="/buyer/009.png" alt="KYC ID Upload" width="250"/>  
<img src="/buyer/010.png" alt="Face ID Capture" width="250"/>  
<img src="/buyer/011.png" alt="M-Pesa Statement Upload" width="250"/>   -->

:::tip
Blurry or incomplete documents may delay verification.  
:::  

:::caution
Only provide your documents through the official Sevi App during the verification process. Sevi staff will never ask you to share your PIN or sensitive details outside the app.  
:::


## Verification Outcome
Once verification is successful:  
- You will receive a **confirmation SMS**.  
- A **credit limit** will be assigned to your account.  
- You can now start **placing orders** with verified suppliers and enjoy **Order Now, Pay Later** Sevi option.  

<img src="/buyer/012.png" alt="Verified Buyer Dashboard" width="450"/>  

